{
  "app_url": "http://localhost:1234",
  "spotify_client_id": "your Spotify app client ID here",
  "spotify_redirect_uri": "your Spotify app redirect URI here",
  "spotify_client_secret": "your Spotify app client secret here",
  "bridge_ip": "your Philips Hue bridge IP address (optional)",
  "bridge_user": "a user on your Philips Hue bridge (optional)"
}
